<!DOCTYPE html>
<html lang="en">
<%- include('../templates/head.ejs') -%>

<body class="bg-primary">
	<%- include('../templates/header.ejs') -%>
	<div class="container mt-5">
		<div class="row">
			<div class="col"></div>
			<div class="col-5 text-white">
				<h1 class="mt-5">Contáctanos</h1>
					<h3 href="http://google.com/" class="mt-5 rounded bg-light text-dark text-center py-2">
						J.J. Software 
					</h3>
					<h4>
						Correo: juanjose.aroca@utp.edu.co - juanjosedelgado1@utp.edu.co
					</h4>
					<br>
					<h4>
						Teléfono: 3123456789
					</h4>
			</div>
			<div class="col"></div>
		</div>
	</div>
	<script src="/public/js/contactPage.js"></script>
</body>

</html>