<!DOCTYPE html>
<html lang="en">
<%- include('../templates/head.ejs') -%>

<body class="bg-primary">
	<%- include('../templates/header.ejs') -%>
	<div class="container mt-5">
		<div class="row">
			<div class="col"></div>
			<div class="col-5 text-white">
				<h1 class="mt-5">Contáctanos</h1>
					<h3 class="mt-5 rounded bg-light text-dark text-center py-2">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nostrum quaerat alias delectus illo odit officiis error. Facilis quis, reiciendis incidunt, eveniet voluptatum natus aliquid culpa id enim explicabo nobis.
				
					</h3>
			</div>
			<div class="col"></div>
		</div>
	</div>
	<script src="/public/js/contactPage.js"></script>
</body>

</html>